<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img alt="logo" height="40" src="../../assets/imgs/archtox.png">
      <img alt="logo" height="35" src="../../assets/imgs/fármacos.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toSearch(true)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="showToast('Deslice a la izquierda sobre un fármaco para mas opciones.')">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="list-avatar-page">
  <ion-row *ngIf="search">
    <ion-col col-11>
      <ion-searchbar [showCancelButton]="true"
                     placeholder="Buscar fármaco"
                     (ionInput)="getItems($event)">
      </ion-searchbar>
    </ion-col>
    <ion-col col-1>
      <button full ion-button round color="danger-light" (click)="toSearch(false)">
        Cancelar
      </button>
    </ion-col>
  </ion-row>
  <ion-fab right bottom>
    <button ion-fab color="danger-light" (click)="newDrug()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <br *ngIf="noInfo">
    <p text-center *ngIf="noInfo">No se encontraron fármacos.</p>
    <ion-item-sliding *ngFor="let drug of drugsforfilter">
      <button ion-item (click)="itemSelected(drug)">
        <ion-avatar item-start>
          <img src="../../assets/imgs/drug.jpg">
        </ion-avatar>
        <h2>{{drug.nombre}}</h2>
        <p>{{drug.nombres}}</p>
        <ion-note item-end>{{drug.molecula}}</ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button icon-only (click)="delete(drug)" color="danger-light">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>