<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <img alt="logo" height="40" src="../assets/imgs/archtox.png">
                <img alt="logo" height="30" src="../assets/imgs/menú.png">
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button ion-item icon-left [class.activeHighLight]="checkActivePage(guidesPage)" (click)="onLoad(guidesPage)" *ngIf="isAuthenticated">
                <ion-icon name="paper"></ion-icon>Guías</button>
            <button ion-item icon-left [class.activeHighLight]="checkActivePage(userPage)" (click)="onLoad(userPage)" *ngIf="isAuthenticated">
                <ion-icon name="people"></ion-icon>Usuarios</button>
            <button ion-item icon-left (click)="onLogout(1)" *ngIf="isAuthenticated">
                <ion-icon name="log-out"></ion-icon>Cerrar sesión</button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
